header { background: green; width:100%; height: auto; }
section { background: blue; width:70%; height: auto; float: left; }
aside { background: yellow; width:30%; height: auto; }
footer { background: blue; width:100%; height:auto; clear: both; }
p { font: 14px Arial, sans-serif; color: red; text-align: center; height:auto;
   width:auto; }
section2 { background: green; width:70%; height: auto; float: right; }
aside2 { background: orange; width:30%; height: auto;  float: left; }
img {
    
img{
   max-width: 100%;
   height:auto;
   width:auto;
}
}
